.SwitchItem {
  display: flex;
  flex: 1;
  align-items: center;
  height: 64px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 300ms 0s ease;
}

.Icon {
  width: 48px;
  height: 48px;
}

.Label {
  flex: auto;
  margin-left: 8px;
}
