.Switch {
  height: 64px;
  background-color: #ebecf0;
  border: none;
  border-radius: 32px;
  box-shadow: -10px -10px 20px 0 #fafbff, 10px 10px 20px 0 #a6abbd;
  cursor: pointer;

  input {
    appearance: none;
    outline: none;
    visibility: hidden;
    height: 64px;
    width: 100%;
    border-radius: 32px;
    margin: 0;

    background-color: #185bf1;
    border: none;
    border-radius: 32px;
    position: relative;

    &:before,
    &:after {
      z-index: 2;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      content: 'Chrome';
      left: 32px;
    }
    &:after {
      content: 'Chrome Canary';
      right: 32px;
    }
  }

  label {
    z-index: 1;
    position: absolute;
    height: 64px;

    border-radius: 32px;
  }

  &.Switcher {
    input {
      transition: 0.25s -0.1s;
      &:checked {
        background-color: white;
        &:before {
          color: white;
          transition: color 0.5s 0.2s;
        }
        &:after {
          color: grey;
          transition: color 0.5s;
        }
        & + label {
          left: 16px;
          right: 250px;

          background: #185bf1;

          transition: left 0.5s, right 0.4s 0.2s;
        }
      }
      &:not(:checked) {
        background: black;
        transition: background 0.5s -0.1s;
        &:before {
          color: grey;
          transition: color 0.5s;
        }
        &:after {
          color: white;
          transition: color 0.5s 0.2s;
        }
        & + label {
          left: 250px;
          right: 16px;

          background: #185bf1;

          transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
        }
      }
    }
  }
}
