.Switch {
  display: flex;
  height: 64px;
  background-color: #ebecf0;
  border: none;
  border-radius: 32px;
  box-shadow: -10px -10px 20px 0 #fafbff, 10px 10px 20px 0 #a6abbd;
}

.SwitchItem {
  display: flex;
  flex: 1;
  align-items: center;
  height: 64px;
  padding-left: 8px;
  padding-right: 8px;
}

.Selected {
  color: white;
  background-color: #185BF1;
  border: none;
  border-radius: 32px;
}

.Icon {
  width: 48px;
  height: 48px;
}

.Label {
  flex: auto;
}
